# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#others
*.dep
*.manifest
*.res
*.ilk
*.ib_tag
*.pdb
*.ib_pdb_index
*.idb
*.ncb
*.suo
*.user
